
        
        
        
* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;} 
 
         
body{
background-color: #B7C8F5;
font-family: 'Elmono', sans-serif;
    position:relative;
    
}

#container{
display: flex;
justify-content: center;
align-items: center;
width: 1400px;
margin: 0 auto;
position: relative;
left: -50px;
padding: 3px;
}

#box{
width: 1000px;
background-color: #ECFAFF;
color: #000;
border: 1px solid #6351C6;
}
#box2{
width: 1000px;
    padding-left: 3px;
    padding-right:5px;
    padding-top: 3px;
    padding-bottom:3px;
border: 1px solid #6351C6;
}


#header{
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #6351C6;
background-image: linear-gradient(to right, #6351C6, #E3BFFF);
color: #fff;
letter-spacing: 3px;
}

#header h1{
margin: 0px;
}

#side{
float: left;
width: 225px;
padding: 0px 0px 5px 10px;
overflow: hidden;
}

.sidebox{
border: 1px solid #6351C6;
margin: 0px 0px 5px 0px;
}


.sidecontent{
padding: 0px 0px 0px 5px;
color: #6e5057;
font-size: 17px;
letter-spacing: 1px;
overflow-y: auto;
overflow-x: hidden;
max-height: 275px;
}

.sidecontent ul, li{
margin: 0px;
list-style-type: none;
padding-left: 0px;
}
.navigationbox{
padding: 0px 0px 0px 5px;
color: #6e5057;
font-size: 17px;
letter-spacing: 1px;
overflow-y: scroll;
overflow-x: hidden;
max-height: 175px;
}

.navigationbox ul, li{
margin: 0px;
list-style-type: none;
padding-left: 0px;
}

mark {
   background-color: rgba(119, 93, 255, 0.25);
}

a{
text-decoration: none;
color: #6351C6;
}

a:visited{
color: #6351C6;
}

a:hover{
text-shadow: 0px 0px 2px #78beff;
}

#scrollcontainer{
padding: 5px;
overflow: scroll;
overflow-x: hidden;
overflow-y: auto;
}

.webrings{
padding: 5px;
overflow-x: hidden;
overflow-y: auto;
max-height: 340px;
}


.windowtitle {
    font:
        9px 'Elmono' black,
        arial;
   
    color: #fff;
   background-image: linear-gradient(to right, #6351C6, #E3BFFF);
    letter-spacing: 3px;
    padding-left: 4px;
    border: 1px solid #6351C6;
    border-bottom: hidden;
    padding-top: 2px;
    padding-bottom:2px;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
}
.windowbox {
    background: #ECFAFF;
    border-left: 1px double#666;
    border-right: 1px double #6351C6;
    border-bottom: 1px double #6351C6;
    border-top: 1px double #6351C6;
    margin-left:2px;
    margin-right:2px;
    padding: 4px;
    margin-bottom: 4px;
    color: #6e5057;
}
.windowtitle2 {
    font:
        9px 'Elmono' black,
        arial;
   
    color: #fff;
   background-image: linear-gradient(to right, #6351C6, #E3BFFF);
    letter-spacing: 3px;
    padding-left: 4px;
    border: 1px solid #6351C6;
    border-bottom: hidden;
    padding-top: 2px;
    padding-bottom:2px;
    margin-left:2px;
    margin-right:2px;
    margin-top:2px;
}
.windowbox2 {
    background: #ECFAFF;
    border-left: 1px double#666;
    border-right: 1px double #6351C6;
    border-bottom: 1px double #6351C6;
    border-top: 1px double #6351C6;
    margin-left:2px;
    margin-right:2px;
    padding: 4px;
    margin-bottom: 4px;
    color: #6e5057;
}


#updateboxes {
    width:250px;
       padding:1px;
    position: relative;

}
ul{
  list-style-image: url('https://64.media.tumblr.com/4859e9933e910e5b2b14011dfb60a4f6/tumblr_inline_p7gi26hl0i1qfc9y0_75sq.gifv');
}


#main{
float: left;
width: 740px;
overflow: hidden;
padding: 10px 0px 0px 10px;
}

.introblurb{
text-indent: 25px;
}
.mainboxes{
border: 1px solid #6351C6;
padding: 0px;
margin: 0px 0px 5px 0px;
}


.subheader{
background-image: linear-gradient(to right, #6351C6, #E3BFFF);
border-bottom: 1px solid #6351C6;
padding: 3px;
color: #fff;
letter-spacing: 3px;
}

.subheader h3{
margin: 0px;
}

.mainboxescontent{
padding: 0px 15px 0px 15px;
color: #6e5057;
font-size: 17px;
}


#footer{
clear: both;
padding: 3px;
max-height: 85px;
border-top: 1px solid #6351C6;
background-image: linear-gradient(to right, #6351C6, #E3BFFF);
color: #fff;
font-size: 14px;
}

#footer p{
margin: 0px;
}

::-webkit-scrollbar{
width: 5px; 
}
    
::-webkit-scrollbar-track{
background-color: #ECFAFF;
}

::-webkit-scrollbar-thumb{
background-color: #6351C6;  
}

#credit{
font-size: 12px;
position: fixed;
bottom: 0;
right: 0;
}
#statuscafe {
    padding: .5em;
    
   
}
#statuscafe-username {
    margin-bottom: .5em;

}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    overflow-wrap: break-word;

}